## interactively explore database!
#some widget thing maybe ipywidgets maybe tkinter? 

- [x] get widgets aligned
- [x] correct drop down names
- [x] drop down name outputs
- [x] take output plug into chart
- [ ] plug walk
- [ ] display
- [ ] figure out how to chart %'s

In [57]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import ipywidgets as widgets
from ipywidgets import HBox, widgets

In [81]:
dataframe = pd.read_csv('Climbing Critical Force Data - Giles et al 2020.csv')
dataframe = dataframe.dropna(axis=1, how='all')
#drop all columns filled with only na values
dataframe = dataframe.dropna(axis=0, how='all')
#drop all rows with na values
dataframe = dataframe.drop(columns=["# REPS"])
#dropped irrelevant row

In [83]:
#temporary dropping % values 
dataframe = dataframe.drop(dataframe.columns[[11,12,13,14,15,16,17]], axis=1)

In [84]:
dataframe.head()

,#,SEX,AGE (YRS),HEIGHT (CM),BODY MASS (KG),YRS CLIMBING,CLIMB HRS WEEK,TRAIN HRS WEEK,SPORT GRADE IRCRA,BOULDER GRADE IRCRA,PEAK FORCE (KG)
0,0.0,Female,38.0,164.0,56.5,10.0,3.0,0.0,NaN,19.0,33.28
1,1.0,Female,28.0,157.5,56.1,13.0,14.0,4.0,NaN,21.5,42.01
2,2.0,Female,26.0,159.0,51.8,2.0,5.0,0.8,NaN,17.0,39.73
3,3.0,Female,26.0,169.0,56.3,8.0,6.0,2.0,15.0,19.0,33.31
4,4.0,Female,22.0,173.5,71.8,8.0,9.0,2.0,NaN,20.5,50.55

In [85]:
def create_plot(x_ax,y_ax):
    ax1 = sns.scatterplot(data = dataframe, x= dataframe[x_ax], y=dataframe[y_ax],      color='darkblue')
    ax1.set(xlabel = x_ax.capitalize(), ylabel = y_ax.capitalize())

    plt.title('%s vs %s'%(x_ax.capitalize(), y_ax.capitalize()))

x_ax_drop = widgets.Dropdown(options=dataframe.columns, value = dataframe.columns[0])
y_ax_drop = widgets.Dropdown(options=dataframe.columns, value = dataframe.columns[1])

out = widgets.interactive_output(create_plot, {'x_ax': x_ax_drop, 'y_ax': y_ax_drop})

widgets.VBox([widgets.HBox([x_ax_drop, y_ax_drop]), out])

VBox(children=(HBox(children=(Dropdown(options=('#', 'SEX', 'AGE (YRS)', 'HEIGHT (CM)', 'BODY MASS (KG)', 'YRSâ€¦