## interactively explore database!
#some widget thing maybe ipywidgets maybe tkinter? 

- [x] get widgets aligned
- [x] correct drop down names
- [x] drop down name outputs
- [x] take output plug into chart
- [x] display
- [ ] figure out how to chart %'s
- [ ] drop numbers?

In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import ipywidgets as widgets
import df_cleaning
from ipywidgets import HBox, widgets

In [29]:
dataframe = df_cleaning.clean('Climbing Critical Force Data - Giles et al 2020.csv')

Dropping rows that don't provide much context or data for easier viewing and general readability

In [37]:
#dropping irrelevant columns
dataframe = dataframe.drop(columns=["# REPS",'SEX'])

#temporary dropping % values 
dataframe = dataframe.drop(dataframe.columns[[10,11,12,13,14,15,16]], axis=1)

In [38]:
dataframe.head()

,#,AGE (YRS),HEIGHT (CM),BODY MASS (KG),YRS CLIMBING,CLIMB HRS WEEK,TRAIN HRS WEEK,SPORT GRADE IRCRA,BOULDER GRADE IRCRA,PEAK FORCE (KG)
0,0.0,38.0,164.0,56.5,10.0,3.0,0.0,NaN,19.0,33.28
1,1.0,28.0,157.5,56.1,13.0,14.0,4.0,NaN,21.5,42.01
2,2.0,26.0,159.0,51.8,2.0,5.0,0.8,NaN,17.0,39.73
3,3.0,26.0,169.0,56.3,8.0,6.0,2.0,15.0,19.0,33.31
4,4.0,22.0,173.5,71.8,8.0,9.0,2.0,NaN,20.5,50.55

In [32]:
def create_plot(x_ax,y_ax):
    fig, (ax1) = plt.subplots(1, figsize=(5 , 5))
    ax1 = sns.scatterplot(data = dataframe, x= dataframe[x_ax], y=dataframe[y_ax], color='darkblue')

    sns.despine(offset=10, trim=True);
    sns.set_style("darkgrid")
    ax1.set(xlabel = x_ax.upper(), ylabel = y_ax.upper())

    plt.title('%s vs %s'%(x_ax.upper(), y_ax.upper()))

In [33]:
x_ax_drop = widgets.Dropdown(options=dataframe.columns, value = dataframe.columns[0])
y_ax_drop = widgets.Dropdown(options=dataframe.columns, value = dataframe.columns[1])

In [34]:
out = widgets.interactive_output(create_plot, {'x_ax': x_ax_drop, 'y_ax': y_ax_drop})

In [35]:
widgets.VBox([widgets.HBox([x_ax_drop, y_ax_drop]), out])

VBox(children=(HBox(children=(Dropdown(options=('#', 'AGE (YRS)', 'HEIGHT (CM)', 'BODY MASS (KG)', 'YRS CLIMBIâ€¦